body {
		background:
	}

	#honor{
		width:30%;
		
		}

	
	h1{text-align:center;

	}

	p {
		font-size:20px;
	}


	h1 strong {
		color:yellow ;

	}

  #honor{
  	padding-left:30%;
  	padding-bottom: 20%;
  	padding-top:20% ;
  }