
	body {
		background:
	}

	#salazar{
		width:50%;
		
		}

	
	h1{text-align:center;

	}

	p {
		font-size:20px;
	}


	h1 strong {
		color:red ;

	}

  #salazar{
  	padding-left:20%;
  	padding-bottom: 20%;
  	padding-top:20% ;
  }